.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0 solid;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
input:focus,
button:focus,
textarea:focus,
a:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
}
p:last-child {
  margin-bottom: 0;
}

.zigzag-text-bg-1 {
  background-image: url(img/bg-1.jpg);
  background-size: cover;
  background-position: center;
}
.zigzag-text-bg-2 {
  background-image: url(img/bg-2.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.zigzag-text {
  position: relative;
  z-index: 2;
  padding-right: 50px;
  color: white;
  padding-top: 120px;
  padding-bottom: 120px;
}
.zigzag-text-bg-2 .zigzag-text {
  position: relative;
  z-index: 2;
  padding-left: 50px;
  padding-right: 0;
  color: white;
  padding-top: 120px;
  padding-bottom: 120px;
}
.zigzag-text:after {
  position: absolute;
  left: -4900%;
  top: 0;
  height: 100%;
  width: 5000%;
  background-color: aquamarine;
  content: "";
  z-index: -1;
  transform: skew(9deg);
  opacity: 0.8;
}

.zigzag-text-bg-2 .zigzag-text:after {
  position: absolute;
  right: -4900%;
  left: auto;
  top: 0;
  height: 100%;
  width: 5000%;
  background-color: aquamarine;
  content: "";
  z-index: -1;
  transform: skew(9deg);
  opacity: 0.8;
}

.boxed-btn {
  background: #333;
  color: fff;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 20px;
}
